@import "tailwindcss";

#root{
  font-style: normal;
}

@theme {
  --color-rabbit-red: #ea2e0e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;scrollbar::-webkit-scrollbar {
  display: none;
}

